# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

SyntaxError: invalid syntax (<ipython-input-4-6645883cfe43>, line 3)

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [163]:
tree = ET.parse( './data/mondial_database.xml' ) # parse the xml file
root = tree.getroot()# get the "root" of the xml document

tree_less = ET.parse( './data/mondial_database_less.xml' ) # parse the xml file
root_less = tree_less.getroot()# get the "root" of the xml document

import pandas as pd

Question 1. 10 Countries with lowest infant mortality Rates

In [158]:
d = []

for i in root.findall('country'): # use this to find each tag with "country" and look into its children
    name = i.find('name').text # find child with name and grab text
    
    #  condition for no mortality data, place None! else use infant mortality data
    if i.find('infant_mortality') is None: 
        infant_mortality = None
    else:
        infant_mortality = i.find('infant_mortality').text
        
        # Create the row of data
        row = pd.DataFrame({
            'im':[infant_mortality],
            'name':[name]
        }).set_index('name') # set index as name
        d.append(row) # append row to empty dataframe

d = pd.concat(d) # concatenate all rows
d.index.name = None # remove the column name from index
d.im = pd.to_numeric(d.im) # convert to numeric
d.sort_values('im', ascending = 0)[0:10] # sort and grab top 10

                              im
Western Sahara            145.82
Afghanistan               117.23
Mali                      104.34
Somalia                   100.14
Central African Republic   92.86
Guinea-Bissau              90.92
Chad                       90.30
Niger                      86.27
Angola                     79.99
Burkina Faso               76.80

2. 10 cities with the largest population

In [303]:
d2 = [] # instantiate dataframe

for i in root.findall('country'): # find all tag and focus on children
    ith = i.findall('population').__len__() # grab the nth population recode
    x = i.findall('population') # find all the population
    latest_population = x[ith-1].text # grab the most recent population record
    name = i.find('name').text # grab the name
    
    d_i = pd.DataFrame( # create a dataframe
    {'name':[name], # place name
    'latest_population':pd.to_numeric([latest_population])} # place numeric latest population value
    ).set_index('name') # set index
    
    d2.append(d_i) # append dataframe

d2 = pd.concat(d2) # concatenate series
d2.index.name = None # set index name to None removing space 
d2 = d2.sort_values('latest_population', ascending = 0) # sort, get top 10
d2[0:10]

               latest_population
China                 1360720000
India                 1210854977
United States          318857056
Indonesia              252124458
Brazil                 202768562
Pakistan               173149306
Nigeria                164294516
Bangladesh             149772364
Russia                 143666931
Japan                  127298000

In [268]:
test = root_less.findall('country')
x = test[0].find('ethnicgroup').attrib
x['percentage']

'95'

In [338]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

d3 = []
for i in root.findall('country'):
    for j in i.findall('ethnicgroup'):
        row = pd.DataFrame(
        {
            'name':[i.find('name').text],
            'ethnic_group':[j.text],
            'percentage':pd.to_numeric([j.attrib['percentage']])
        }).set_index('name')
        d3.append(row)
        
d3 = pd.concat(d3)
d3.index.name = None
d3 = d3.sort_index()
d3 = d3.groupby(d3.index).max()

d3 = d2.merge(d3, left_index= True, right_index = True)
d3['ethnic_group_population'] = round((d3.percentage/100)*d3.latest_population,0)
d3 = d3.sort_values('ethnic_group_population', ascending = 0)
d3[0:10]

,latest_population,ethnic_group,percentage,ethnic_group_population
China,1360720000,Han Chinese,91.500,1245058800.000
India,1210854977,Mongol,72.000,871815583.000
United States,318857056,European,79.960,254958102.000
Nigeria,164294516,African,99.000,162651571.000
Bangladesh,149772364,Bengali,98.000,146776917.000
Japan,127298000,Japanese,99.400,126534212.000
Russia,143666931,Ukrainian,79.800,114646211.000
Indonesia,252124458,Sundanese,45.000,113456006.000
Brazil,202768562,Mulatto,53.700,108886718.000
Philippines,92337852,Malay,95.500,88182649.000